apiVersion: apps/v1
kind: Deployment
metadata:
  name: ogit
  namespace: gitraf
  labels:
    app.kubernetes.io/name: ogit
    app.kubernetes.io/component: git-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ogit
  template:
    metadata:
      labels:
        app: ogit
        app.kubernetes.io/name: ogit
        app.kubernetes.io/component: git-backend
    spec:
      containers:
        - name: ogit
          image: docker.io/library/ogit:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
              protocol: TCP
          args:
            - "--config"
            - "/config/config.yaml"
          volumeMounts:
            - name: repos
              mountPath: /data/repos
            - name: config
              mountPath: /config
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: repos
          hostPath:
            path: /opt/ogit/data/repos
            type: Directory
        - name: config
          configMap:
            name: ogit-config
